/* flex-process-list — USWDS Process List conformance
   Numbered vertical step list with connecting line */

.flex-process-list {
  font-family: var(--flex-font-sans);
  font-size: var(--flex-text-uswds);
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  counter-reset: flex-numbered-list;
  padding: 20px 0 0 calc(2.5rem / 2 - 0.5rem / 2);
  position: relative;
}

.flex-process-list > li {
  margin-bottom: 0;
  max-width: unset;
}

.flex-process-list > .flex-process-list__item {
  max-width: 72ex;
}

.flex-process-list__item {
  border-left: 0.5rem solid var(--flex-blue-10);
  font-size: var(--flex-text-uswds);
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-left: calc(calc(2.5rem / 2 - 0.25rem) * 2);
  position: relative;
}

.flex-process-list__item:last-child {
  border-left: 0.5rem solid transparent;
}

/* Numbered circle */
.flex-process-list__item::before {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 99rem;
  background-color: var(--flex-color-bg);
  border: 0.25rem solid var(--flex-color-text);
  box-shadow: 0 0 0 0.25rem var(--flex-color-bg);
  color: var(--flex-color-text);
  content: counter(flex-numbered-list, decimal);
  counter-increment: flex-numbered-list;
  display: flex;
  font-family: var(--flex-font-sans);
  font-size: 1.46rem;
  font-weight: 700;
  height: 2.5rem;
  left: 0;
  line-height: 0.9;
  margin-top: -0.4rem;
  position: absolute;
  width: 2.5rem;
}

.flex-process-list__item > :first-child {
  margin-top: 0;
}

.flex-process-list__item > :last-child {
  margin-bottom: 0;
}

.flex-process-list__heading {
  font-size: 1.46rem;
  line-height: 1.1;
  color: var(--flex-color-text);
  font-family: var(--flex-font-sans);
  font-weight: 700;
  margin: 0;
}

.flex-process-list__heading + * {
  margin-top: 0.25rem;
}

.flex-process-list__item ul {
  list-style-type: disc;
}

.flex-process-list__item ul li:last-child {
  margin-bottom: 0;
}
