# .env.example
GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret
GITHUB_AUTHZ_ORG=flexion
SESSION_SECRET=generated_random_32_byte_secret
AWS_REGION=us-east-1
